.auth-content
  %p.text-xs-center PASSWORD RECOVER
  %p.text-muted.text-xs-center
    %small Enter your email address to recover your password.
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      .field
        = f.label :email
        %br/
        = f.email_field :email, class: "form-control underlined", placeholder: "Your email address"
    .form-group
      = f.submit "Send me reset password instructions", class: "btn btn-block btn-primary"
      / <button type="submit" class="btn btn-block btn-primary">Reset</button>
    .form-group.clearfix
      = link_to "return to Login!", new_session_path(resource_name), class: "pull-left"
      = link_to "Sign Up!", new_registration_path(resource_name), class: "pull-right"
