%body
  %header.header
    .header-block.header-block-collapse.hidden-lg-up
      %button#sidebar-collapse-btn.collapse-btn
        %i.fa.fa-bars
    .header-block.header-block-search.hidden-sm-down
      %form{:role => "search"}
        .input-container
          %i.fa.fa-search
          %input{:placeholder => "Search", :type => "search"}/
          .underline
    .header-block.header-block-nav
      %ul.nav-profile
        -#%li.notifications.new
          %a{"data-toggle" => "dropdown", :href => ""}
            %i.fa.fa-bell-o
            %sup
              %span.counter 8
          .dropdown-menu.notifications-dropdown-menu
            %ul.notifications-container
              %li
                %a.notification-item{:href => ""}
                  .img-col
                    .img{:style => "background-image: url('assets/faces/3.jpg')"}
                  .body-col
                    %p
                      %span.accent Zack Alien
                      pushed new commit:
                      = succeed "." do
                        %span.accent Fix page load performance issue
              %li
                %a.notification-item{:href => ""}
                  .img-col
                    .img{:style => "background-image: url('assets/faces/5.jpg')"}
                  .body-col
                    %p
                      %span.accent Amaya Hatsumi
                      started new task:
                      = succeed "." do
                        %span.accent Dashboard UI design.
              %li
                %a.notification-item{:href => ""}
                  .img-col
                    .img{:style => "background-image: url('assets/faces/8.jpg')"}
                  .body-col
                    %p
                      %span.accent Andy Nouman
                      deployed new version of
                      %span.accent NodeJS REST Api V3
            %footer
              %ul
                %li
                  %a{:href => ""}
                    View All
        %li.profile.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .img{:style => "background-image: url('#{gravatar_for current_user, size: 80}')"}
            %span.name
              = current_user.full_name
          .dropdown-menu.profile-dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            = link_to edit_user_profile_path(current_user), class: "dropdown-item" do
              %i.fa.fa-user.icon
              Profile
            / <a class="dropdown-item" href="#"> <i class="fa fa-bell icon"></i> Notifications </a>
            = link_to edit_preference_path(current_user), class: "dropdown-item" do
              %i.fa.fa-user.icon
              Settings
            .dropdown-divider
            - if current_user
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                %i.fa.fa-power-off.icon
                Logout
