<!DOCTYPE html>
<html>
  <head>
    <title>FitnessTracker</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <div class="main-wrapper">
      <div class="app header-fixed sidebar-fixed" id="app">
        <%= render 'layouts/header' %>
        <%= render 'layouts/sidebar' %>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>

        <article class="content">
          <%= render "layouts/flash" %>
          <%= yield %>
        </article>

        <footer class="footer">
          <div class="footer-block buttons"> <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe> </div>
          <div class="footer-block author">
            <ul>
              <li> created by <a href="#">ModularCode</a> </li>
              <li> <a href="#">get in touch</a> </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
